/* 
	Almond #EADDCA rgb(234, 221, 202)
	Camel #C19A6B rgb(193, 154, 107)
	Chocolate #7B3F00 rgb(123, 63, 0)
	Coffee #6F4E37 rgb(111, 78, 55)
*/

body {
    background-color: rgb(234, 221, 202);
}

table {
	border-radius: 10px;
	background-color: rgb(123, 63, 0);
	margin: auto;
	border-collapse: collapse;
}

td {
	width: 100px;
	height: 100px;
	padding: 5px;
}

h1 {
	font-family: 'Press Start 2P', cursive;
	text-align: center;
}

input[type="button"] {
	font-family: 'Press Start 2P', cursive;
	margin: 0 auto;
	display: flex;
  	justify-content: center;
  	align-items: center;
  	width: 150px;
  	height: 50px;
  	border: 5px solid #fff;
  	border-radius: 10px;
	background-color: #4c4c4c;
	font-size: 1rem;
	color: #fff;
	cursor: pointer;
	margin-top: 25px;
}

.score {
	font-family: 'Press Start 2P', cursive;
	display: flex;
	margin: 0 auto;
	justify-content: center;
  	align-items: center;
	margin-top: 25px;
}

.card.flipped img {
	transform: rotateY(180deg);
	
}

.card {
	border-radius: 10px;
	background-color: rgb(193, 154, 107);
	position: relative;
	width: 100%;
	height: 100%;
	perspective: 1000px;
	cursor: pointer;
}

.card img {
	border-radius: 10px;
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
	transition: transform 0.5s ease;
}
